<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sistema de Tienda</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</head>

<body>
    <header th:replace='layouts/plantilla :: header'></header>
    <br/>

        <div class="card">
            <div class="card-header">
                Guardar Categorias
            </div>
            <div class="card-body">
                <a class="btn btn-danger" th:href="@{/}">Regresar</a>
                <form th:action="@{/guardar}" method="post" th:object="${categoria}">
                    <div class="mb-3">
                        <label for="id" class="form-label">Codigo</label>
                        <input type="text" class="form-control" name="id" th:field="*{id}" />
                        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" name="descripcion" th:field="*{descripcion}" />
                        <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
                    </div>
                
                    <div class="mb-3">
                        <label>
                            <input type="checkbox" id="cbox1" value="1" name="estado" th:field="*{estado}" /> Activo
                        </label>
                        <br>
                        <input type="checkbox" id="cbox2" value="0">
                        <label for="cbox2" name="estado" th:field="*{estado}" />
                        Inactivo
                        </label>
                        <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></span>
                    </div>
                    <input type="submit" class="btn btn-primary" name="guardar" value="Guardar" />
                </form>
            </div>
        </div>
    <br />
    <footer th:replace='layouts/plantilla :: footer'></footer>
</body>

</html>


